#background_panel
{
    padding-top : 15px;
    padding-bottom : 15px;
}

#center_panel
{
    margin-top : 15px;
    margin-bottom : 15px;
    margin-left : 15%;
    margin-right : 15%;
}

#btn-centre
{
    text-align: center;
    margin-bottom: 15px;
}

#ajouter-question
{
    border: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
}

#input_texte_question, #modification_texte_question
{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#input_num_question
{
    width: 30%;
    margin-left: 30%;
}

#ajax_num_btn
{
    display:inline;
}

.informations_question
{
    border-radius: 0;
}

#question_texte
{
    height : 50px;
}

#panel_bar, #panel_table
{
    width : 49%;
    max-height: 450px;
}

#panel_bar
{
    float : left;   
}

#panel_table
{
    float : right;   
}

#previous_page
{
    float : left;
}

#next_page
{
    float : right;
}

#ajax_pagination
{
    text-align: center;
}

#accordion_resultats
{
    visibility: hidden;
}

.valide_message
{
    background-color: #CEF6D8;
}

.erreur_message
{
    background-color: #F6CECE;
}

.doublon_message
{
    background-color: #CED8F6;
}

.retard_message
{
    background-color: #F5F6CE;
}

.messages_categ
{
    margin-left : 5px;
    margin-right : 5px; 
}

.panel-group .panel-heading a:hover, .panel-group .panel-heading a:focus
{
    text-decoration: none;
}