#background_panel
{
    padding-top : 1%;
    padding-bottom : 1%;
}

#center_panel
{
    margin-top : 2%;
    margin-bottom : 2%;
    margin-left : 15%;
    margin-right : 15%;
}

#btn-centre
{
    text-align: center;
    margin-bottom: 1%;
}

#ajouter-question
{
    border: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
}

#input_texte_question, #modification_texte_question
{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#input_num_question
{
    width: 30%;
    margin-left: 30%;
}

#ajax_num_btn
{
    display:inline;
}

.informations_question
{
    border-radius: 0;
}

#question_texte
{
    height : 50px;
}

#panel_bar, #panel_table
{
    border: 0px solid black;
    box-shadow: none;
    width : 49%;
}

#panel_bar
{
    float : left;   
}

#panel_table
{
    float : right;   
}

#previous_page
{
    float : left;
}

#next_page
{
    float : right;
}

#ajax_pagination
{
    text-align: center;
}

#panel_resultats
{
    visibility: hidden;
}

.valide_message
{
    background-color: #CEF6D8;
}

.erreur_message
{
    background-color: #F6CECE;
}

.doublon_message
{
    background-color: #CED8F6;
}

.retard_message
{
    background-color: #FFFCB7;
}

.messages_categ
{
    width: 16%;
    text-align: center;
}

.panel-group .panel-heading a:hover, .panel-group .panel-heading a:focus
{
    text-decoration: none;
}

#input_multi_question_hidden
{
    visibility: hidden;
}

#categories_messages_boutons
{
    width: 100%;
}

#Tout
{
    border-radius: 4px;
}

#Valide
{
    margin-left: 5%;
    border-radius: 4px;
}

#Erreur
{
    margin-left: 5%;
    border-radius: 4px;
}

#Doublon
{
    margin-left: 5%;
    border-radius: 4px;
}

#Retard
{
    margin-left: 5%;
    border-radius: 4px;
}

#table_messages
{
    max-width: 100%;
}