#background_panel
{
    padding-top : 15px;
    padding-bottom : 15px;
}

#center_panel
{
    margin-top : 15px;
    margin-bottom : 15px;
    margin-left : 15%;
    margin-right : 15%;
}

#btn-droite
{
    float : right;
    margin-left : 10px;
}

#panel_resultats
{
    visibility: hidden;
}

#panel_bar, #panel_table
{
    width : 49%;
    min-height: 450px;
    max-height: 450px;
    overflow-y: scroll;
}

#panel_bar
{
    float : left;   
}

#panel_table
{
    float : right;   
}

#previous_page
{
    float : left;
}

#next_page
{
    float : right;
}

#pagination_numero
{
    text-align: center;
}