#h1{
	color : black;
}

#header{
		opacity : 0.8;
		background-image: url('banniere.gif');
		background-image : repeat;
}

#div1{
	margin-top : 100px;
	margin-left : 23px;
	margin-right : 23px;
	margin-bottom : 23px;
}

#entrez_question{
	border-radius : 3px;
	border-style : solid;
	border-color: #0090E0;
}

.body{
	background-color: white;
}

.boutons{
	width : 20px;
	height : 25px;
	border : none;
}

.croix{
	width : 20px;
	height : 20px;
	margin : auto;
	top : 2em;
	padding : 0px;
	float : center;
}