/*****************************************
            BALISE NAV
*****************************************/
#liste-entete{
    float: right;
    margin-right: 20px;
    line-height:120px;
	font-weight : bold;
}
#liste-entete li{
    display: inline;
}
.lien-entete{
    color : white;
    padding : 1em 2em 1em 2em;
}
.lien-entete:hover{
    color : #ffcc00;
    text-decoration: none;
}


/*****************************************
            BALISE SECTION
*****************************************/
section{
    min-height: 50em;
    background-color : #99CC99;
    padding :1em 1em 1em 1em;
}

.pair{
    min-height: 50em;
    background-color : #9999FF;
    padding :1em 1em 1em 1em;
}

section h1 {
    text-align: center;
    font-size : 50px;
    color : white;
    margin-top : 0;
    clear: both;
}

.button-section{
    margin: 0em 12em 0em 12em;
}

div[role=group] {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}



/*****************************************
                REMOTE
*****************************************/
#remote{
    position : fixed;
    right : 0;
    bottom : 0;
}

#bouton-reponse{
    display : block;
    margin : auto;
    padding-left : 2em;
    padding-right : 1.5em;
}

/*****************************************
                FORMULAIRE
*****************************************/

#formatage-texte-form_question,
#formatage-texte-form_reponse,
#formatage-texte-form_paragraphe,
#formatage-texte-form_nbmess{
    margin-left: auto;
    margin-right: auto;
}

#tout-formulaire{
    width:70%;
    margin-left: auto;
    margin-right: auto;
}
