/*****************************************
            BALISE NAV
*****************************************/
#bloc-entete{
    color: #3f3f3f;
    background: #9bd9ea;
    float: right;
    margin-top: 2.4%;
    padding: 1em;
	font-weight : bold;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#lien-entete{
    text-decoration: none;
}

#bloc-entete:hover{
    color: #ec971f;
    text-decoration: none;
}


/*****************************************
                REMOTE
*****************************************/

#remote{
    position : fixed;
    right : 0;
    bottom : 0;
}



/*****************************************
                FORMULAIRE
*****************************************/

#tout-formulaire{
    width:70%;
    margin-left: auto;
    margin-right: auto;
    padding-top:1%;
}

.btn.btn-default{
    background: #9bd9ea;
}

.btn.btn-default.active,
.btn.btn-default:hover{
    background: #40bfe8;
}

.label.center-block{
    color: #3f3f3f;
    padding: 0;
}

.btn.btn-lg{
    color: white;
    background: #3f3f3f;
}

.btn.btn-lg:hover{
    color: #f0ad4e;
}

