h1
{
    color: maroon;
}
ul {
   list-style-type:none;
    
}
#tableau {
    font-size: 12px;
    border: center;
    text-align: center;
    border-collapse: collapse;
    width: 70%;
}

#tableau td {
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid #fff;
    background: #e8edff  repeat-x;
    width: 1000px;
}
#tableau tfoot tr td {
    background: #e8edff;
    font-size: 16px;
    color: #99c;
    text-align:center;
}
#tableau tbody tr:hover td {
    background: #d0dafd repeat-x;
    color: #339;
}
#tableau a:hover {
    text-decoration:underline;
}

.panel.panel-default,#collapseOne{
    background: #e8edff  repeat-x;
}
.panel-group{
    margin: auto;
    width: 1000px;
}