h1
{
    color: maroon;
}
ul {
   list-style-type:none;
    
}
#tableau {
    font-size: 12px;
    margin: 10px 0;
    width: 50%;
    border: center;
    text-align: center;
    border-collapse: collapse;
}
#tableau th {
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: #b9c9fe repeat-x;
    border-top: 2px solid #d3ddff;
    border-bottom: 1px solid #fff;
    color: #039;
}

#tableau td {
    padding: 8px;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid #fff;
    background: #e8edff  repeat-x;
}
#tableau tfoot tr td {
    background: #e8edff;
    font-size: 16px;
    color: #99c;
    text-align:center;
}
#tableau tbody tr:hover td {
    background: #d0dafd repeat-x;
    color: #339;
}
#tableau a:hover {
    text-decoration:underline;
}

#menu ul
{
	width : 120px;
	float : right;
	list-style-type: none;
	padding-left : 0px;
	text-align : center;
	margin : 0px;
	border-radius : 10px 0 0 10px;
}

#menu ul li
{
	background: -moz-linear-gradient(-45deg, #1e5799 0%, #2989d8 100%, #207cca 100%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#1e5799), color-stop(100%,#2989d8), color-stop(100%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #1e5799 0%,#2989d8 100%,#207cca 100%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #1e5799 0%,#2989d8 100%,#207cca 100%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #1e5799 0%,#2989d8 100%,#207cca 100%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(135deg, #1e5799 0%,#2989d8 100%,#207cca 100%,#7db9e8 100%); /* W3C */
	margin-left : 0px;
	height : 120px;
	font-family : arial;
	font-weight : bold;
}

#menu ul li a
{
	color : white:
	text-decoration : none;
}
